<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show orders</title>
</head>
<body>
<header th:insert="~{header.html}"></header>

<div class="container text-center">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Products</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <tr th:each="order : ${allOrders}">
                    <th scope="row" th:text="${order.id}"/>
                    <td th:text="${order.orderDate}"/>
                    <td>
                     <form action="#" th:action="@{/order/show-order}" method="get">
                         <input type="hidden" name="orderId" th:value="${order.id}">
                         <button class="btn btn-primary" type="submit">See</button>
                     </form>
                    </td>
                    <td th:text="${order.user.username}"/>
                    <td th:text="${order.price}"/>
                    <td th:text="${order.orderStatus}"/>
                    <td>
                        <form action="#" th:action="@{/order/change-status}" method="post">
                            <input type="hidden" name="orderId" th:value="${order.id}"/>
                            <button class="btn btn-primary" type="submit">Change status</button>
                        </form>
                    </td>
                </tr>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col">

        </div>
    </div>
</div>


</body>
</html>