<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show order</title>
</head>
<body>
<header th:insert="~{header.html}"></header>

<div class="container text-center">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <tr th:each="orderItem : ${order.orderItems}">
                    <td th:text="${orderItem.product.name}">
                    <td th:text="${orderItem.quantity}">
                </tr>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col">

        </div>
    </div>
</div>


</body>
</html>